body {
    background-color: #D4F1F4;
    font-family:'Courier New', Courier, monospace;
    line-height: 150%;
    font-size: 110%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
p {
    color: #05445E;
}
h1 {
    font-size: 2em;
}
h1, h2 {
    font-family: "Playfair Display";
    color: #189AB4;
}
h1, h2, p {
    max-width: 90ch;
}
li {
    float: left;
    padding: 14px;
    background-color: #D4F1F4;
}
a:hover{
    color: #ffffff;
}
a {
    color: #0000ff;
    font-family: "Calibri";
    text-decoration: none;
}