body {
    background-color: #D4F1F4;
    font-family:'Courier New', Courier, monospace;
    line-height: 200%;
    font-size: 110%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
p {
    color: #05445E;
}
h1 {
    font-size: 2em;
    clear: both;
    padding-top: 1em;
}
h1, h2 {
    font-family: "Playfair Display";
    color: #189AB4;
}
h1, h2, p {
    max-width: 180ch;
}
nav {
    margin-bottom: 5px;
}
nav li {
    float: left;
    padding: 0;
    background-color: #D4F1F4;
}
nav a:hover{
    color: #ffffff;
    background-color: #05445E;
}
nav a {
    color: #3399ff;
    font-family: "Calibri";
    text-decoration: none;
    display: block;
    padding: 14px;
}
img {
    float: right;
}